<h1>こんにちは、<%= current_user.username %>さん</h1>
<p>ユーザー用ページです。</p>

<%= link_to "地図を見る", rails_show_path, method: :get %>
<%= link_to "記録を見る", rails_list_path, method: :get %>
<%= link_to "記録する", rails_record_path, method: :get %>
<%= link_to "help", static_pages_help_path, method: :get %>